@page "/Books/add"
@using LibraryApp.Shared
@using LibraryApp.UI.Services
@using LibraruApp.UI.Components



<h3>BookAdd</h3>

<Book/>

@code {
    private Books reader { get; set; } = new();

    private async Task AddBooksAsync


}
